<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>spring</param-name>
    <param-value>applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4j</param-name>
    <param-value>WEB-INF/classes/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>staticprop</param-name>
    <param-value>WEB-INF/memcache.properties</param-value>
  </context-param>
  <context-param>
    <param-name>dynamicprop</param-name>
    <param-value>WEB-INF/constant.properties:10000</param-value>
  </context-param>
  <context-param>
    <param-name>myorm</param-name>
    <param-value>tool.MyDataSourceFactory</param-value>
  </context-param>
  <context-param>
    <param-name>proponload</param-name>
    <param-value>com.speed.comm.PropOnloader</param-value>
  </context-param>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UrlRewtire</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>confReloadCheckInterval</param-name>
      <param-value>60</param-value>
    </init-param>
    <init-param>
      <param-name>confPath</param-name>
      <param-value>/WEB-INF/urlrewrite.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewtire</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AnyChart Resources</filter-name>
    <filter-class>com.anychart.servlet.ResourceFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>AnyChart Resources</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
  <listener>
    <listener-class>my.myspring.tool.MySpringListener</listener-class>
  </listener>
  <listener>
    <listener-class>my.mylog4j.tool.MyLog4jListener</listener-class>
  </listener>
  <listener>
    <listener-class>my.myproperties.tool.MyDynamicPropListener</listener-class>
  </listener>
  <listener>
    <listener-class>my.myproperties.tool.MyStaticPropListener</listener-class>
  </listener>
  <listener>
    <listener-class>my.myorm.tool.orm.MyORMListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ReportStatistics</servlet-name>
    <servlet-class>com.PPVALog.ReportStatistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportStatistics</servlet-name>
    <url-pattern>/ReportStatistics.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.PPVALog.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckAvailability</servlet-name>
    <servlet-class>com.PPVALog.CheckAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAvailability</servlet-name>
    <url-pattern>/checkAvailability.jsp</url-pattern>
  </servlet-mapping> 
   <servlet>
    <servlet-name>ChartShow</servlet-name>
    <servlet-class>com.PPVALog.ChartCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartShow</servlet-name>
    <url-pattern>/ChartCreate.jsp</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>6000</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>