<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="PPTV.PPTVHD" Publisher="CN=7DD9DFF9-F055-439D-8D7D-C89124655865" Version="1.2.1.0" />
  <Properties>
    <DisplayName>PPTV 网络电视</DisplayName>
    <PublisherDisplayName>上海聚力传媒技术</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>PPTVForWin8</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="zh-CN" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PPTVForWin8.App">
      <VisualElements DisplayName="PPTV 网络电视" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="PPTV网络电视是一款全球安装量最大的视频播放客户端，拥有大量欧美大片、热门影视、热门电视剧、娱乐、体育、资讯、游戏等视频内容。拥有会员等级积分系统，随着经验值增长，享受的特权服务将逐渐变多，是推荐给你的win8装机必备的视频软件。" ForegroundText="light" BackgroundColor="#008cd6" ToastCapable="true">
        <DefaultTile WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#008cd6" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>PpboxSource.dll</Path>
        <ActivatableClass ActivatableClassId="PpboxSource.PpboxSchemeHandler" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>