<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <appender name="quartz.job.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/Jobs.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="quartz.job.alllistjob.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/AllListJob.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="quartz.job.updatelistjob.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/UpdateListJob.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="quartz.job.listcachejob.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/ListCacheJob.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="quartz.job.listcacheextensionjob.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/ListCacheExtensionJob.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="quartz.job.monitorlistjob.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/MonitorListJob.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="boxmanage.syncservice.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/SyncService.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="nhibernate.loader.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/NHibernateLoader.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="lucenenet.queue.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/LuceneQueue.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="boxmanage.internalimpl.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/InternalImpl.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="boxmanage.livelistcache.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/LiveListCache.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="boxmanage.coverjob.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/CoverJob.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <appender name="boxmanage.hotwordjob.appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/HotSearchWord.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="500" />
      <param name="MaximumFileSize" value="20000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-2p - %m%n" />
      </layout>
    </appender>
    <logger name="quartz.job.log">
      <!--value="ERROR|WARN|DEBUG|INFO|ALL|OFF"-->
      <level value="ALL" />
      <appender-ref ref="quartz.job.appender" />
    </logger>
    <logger name="quartz.job.alllist.log">
      <level value="ALL" />
      <appender-ref ref="quartz.job.alllistjob.appender" />
    </logger>
    <logger name="quartz.job.updatelist.log">
      <level value="ALL" />
      <appender-ref ref="quartz.job.updatelistjob.appender" />
    </logger>
    <logger name="quartz.job.listcache.log">
      <level value="ALL" />
      <appender-ref ref="quartz.job.listcachejob.appender" />
    </logger>
    <logger name="quartz.job.listcacheextension.log">
      <level value="ALL" />
      <appender-ref ref="quartz.job.listcacheextensionjob.appender" />
    </logger>
    <logger name="quartz.job.monitorlist.log">
      <level value="ALL" />
      <appender-ref ref="quartz.job.monitorlistjob.appender" />
    </logger>
    <logger name="boxmanage.syncservice.log">
      <level value="ALL" />
      <appender-ref ref="boxmanage.syncservice.appender" />
    </logger>
    <logger name="NHibernate.Loader.Loader">
      <level value="INFO" />
      <appender-ref ref="nhibernate.loader.appender" />
    </logger>
    <logger name="lucenenet.queue.log">
      <level value="ALL" />
      <appender-ref ref="lucenenet.queue.appender" />
    </logger>
    <logger name="boxmanage.internalimpl.log">
      <level value="ALL" />
      <appender-ref ref="boxmanage.internalimpl.appender" />
    </logger>
    <logger name="boxmanage.livelistcache.log">
      <level value="ALL" />
      <appender-ref ref="boxmanage.livelistcache.appender" />
    </logger>
    <logger name="boxmanage.coverjob.log">
      <level value="ALL" />
      <appender-ref ref="boxmanage.coverjob.appender" />
    </logger>
    <logger name="boxmanage.hotwordjob.log">
      <level value="ALL" />
      <appender-ref ref="boxmanage.hotwordjob.appender" />
    </logger>
  </log4net>
</configuration>