<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Synacast.ProviderServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Synacast.ProviderServices.Properties.Settings>
            <setting name="Synacast_ProviderServices_RoleProviderService_PPRoleService"
                serializeAs="String">
                <value>http://192.168.26.114/exttest/ProviderServices/PPRoleService.asmx</value>
            </setting>
            <setting name="Synacast_ProviderServices_MembershipProviderService_PPMembershipService"
                serializeAs="String">
                <value>http://192.168.26.114/exttest/ProviderServices/PPMembershipService.asmx</value>
            </setting>
        </Synacast.ProviderServices.Properties.Settings>
    </applicationSettings>
</configuration>