<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
  <bindings>
    <netTcpBinding>
      <binding name="BoxmanageBinding" maxReceivedMessageSize="50000000" maxConnections="10000" listenBacklog="10000">
        <security mode="None">
          <transport clientCredentialType="Windows"/>
          <message clientCredentialType="Windows"/>
        </security>
        <readerQuotas maxStringContentLength ="50000000"/>
        <reliableSession ordered="true" inactivityTimeout="00:00:01" enabled="false" />
      </binding>
    </netTcpBinding>
  </bindings>
  <behaviors>
    <serviceBehaviors>
      <behavior name="BoxManageBehavior">
        <serviceMetadata/>
        <serviceDebug includeExceptionDetailInFaults="true"/>
        <serviceThrottling maxConcurrentCalls="10000" maxConcurrentSessions="10000" maxConcurrentInstances="10000"/>
        <dataContractSerializer maxItemsInObjectGraph="1000000000"/>
      </behavior>
    </serviceBehaviors>
  </behaviors>
  </system.serviceModel>
</configuration>